




h1 {
	margin-left: auto;
}

h3 {
	display: inline;
}

h2 {
	margin: 0px 0 15px 25px;
	display: inline;
}

.wallet {
	display: block;
	width: 80px;
	background: #f5f5f5;
	border:#999 1px solid;
	padding: 10px;
	font-size: 15px;
	text-align: center;
	margin-left: 20px;
	display: inline;
}

div.dice {
	float: left;
	width: 32px;
	background: #f5f5f5;
	border:#999 1px solid;
	padding: 10px;
	font-size: 24px;
	text-align: center;
	margin: 5px;
}

.btn {
  background: #a3a6a8;
  background-image: -webkit-linear-gradient(top, #a3a6a8, #696d70);
  background-image: -moz-linear-gradient(top, #a3a6a8, #696d70);
  background-image: -ms-linear-gradient(top, #a3a6a8, #696d70);
  background-image: -o-linear-gradient(top, #a3a6a8, #696d70);
  background-image: linear-gradient(to bottom, #a3a6a8, #696d70);
  -webkit-border-radius: 4;
  -moz-border-radius: 4;
  border-radius: 4px;
  font-family: Arial;
  color: #ffffff;
  font-size: 16px;
  padding: 10px 30px 10px 30px;
  text-decoration: none;
  display: block;
  margin-top: 2%;
}

.btn:hover {
  background: #707070;
  background-image: -webkit-linear-gradient(top, #707070, #494c4d);
  background-image: -moz-linear-gradient(top, #707070, #494c4d);
  background-image: -ms-linear-gradient(top, #707070, #494c4d);
  background-image: -o-linear-gradient(top, #707070, #494c4d);
  background-image: linear-gradient(to bottom, #707070, #494c4d);
  text-decoration: none;
}




	/*******Table Styles*******/

#tbl{

	
}

 td{
	font-family:Arial, sans-serif;
	font-size:14px;
	padding:13px 14px;
	
	
}

 th{
	font-family:Arial, sans-serif;
	font-size:14px;
	font-weight:normal;
	padding:13px 14px;
	background-color: #b3b3b3;
	text-align: left;

}

table {
	margin: 30px auto;
    border-width: 43px;
    border-color: #d9d9d9;
    border: 40px solid #d9d9d9;
    border-collapse: separate;
    padding: 0 0 0 0px;

}

tbody {
	border-collapse: collapse;
	background-color: #d9d9d9;
}

caption{
	text-decoration: underline;
    font-size: 2em;
    background-color: #d9d9d9;
    margin: 15px 5px -35px 5px;
}




